#info-view img {
  width: 90%;
}

#info-view .links {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
  height: 55px;
}

@media only screen and (max-width: 768px) {
  #info-view .links {
    margin-top: 0px;
    margin-bottom: 96px;
  }
}

.card-header {
  font-weight: 700;
  background-color: #3C99D6;
  color: #fff;
}

.free-stuff p {
  margin: 0;
}

.free-stuff li {
  margin-bottom: 12px;
}

.discord-button {
  background-color: rgba(88, 101, 242, 1);
  border-color: rgba(88, 101, 242, 1);
}

.discord-button:hover {
  background-color: #4254dd;
  border-color: #4254dd;
}

.discord-button:focus {
  background-color: #4254dd;
  border-color: #4254dd;
}

.devpost-button {
  background-color: rgba(1, 62, 84, 1);
  border-color: rgba(1, 62, 84, 1);
}

.devpost-button:hover {
  background-color: #012835;
  border-color: #012835;
}

.devpost-button:focus {
  background-color: #012835;
  border-color: #012835;
}

.guide-button {
  background: linear-gradient(to bottom, rgba(20, 90, 171, 1), rgba(145, 152, 205, 1));
  border-color: linear-gradient(to bottom, rgba(20, 90, 171, 1), rgba(145, 152, 205, 1));
}

.guide-button:hover {
  background: linear-gradient(to bottom, rgba(15, 80, 160, 1), rgba(120, 130, 190, 1)); /* Slightly darker gradient for hover */
  border-color: rgba(15, 80, 160, 1); /* Darker border color for hover */
}

.guide-button:focus {
  background-color: #2E79A9;
  border-color: #2E79A9;
}

.help-button {
  background-color: rgba(255, 85, 85, 1);
  border-color: rgba(255, 85, 85, 1);
}

.help-button:hover {
  background-color: #B14040;
  border-color: #B14040;
}

.help-button:focus {
  background-color: #B14040;
  border-color: #B14040;
}

.rounded {
  border-radius: 0.5rem !important;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}

.text1 {
  font-size: 14px;
  font-weight: 600
}

.text2 {
  color: #a5aec0
}

.card {
  height: 100%;
}