#map-view {
    padding: 20px;
}

.toggle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.map-layout {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.button-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 20px;
}

.floor-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(120, 144, 197, 1);
    color: white;
    border: none;
    font-weight: 600;
    font-size: 0.5rem; 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.floor-button:focus,
.floor-button:hover {
    background-color: rgba(100, 124, 180, 1);
}

.floor-button.active {
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}


.button-group button {
    width: 100%;
    margin-bottom: 10px;
}

#view-switch {
    position: relative;
    width: 100px;
    height: 40px;
    background-color: white;
    border: 2px solid rgba(120, 144, 197, 0.8);
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

#view-switch.active {
    border-color: linear;
}

#view-switch .toggle-slider {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, rgba(20, 90, 171, 1), rgba(145, 152, 205, 1));
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#view-switch.active .toggle-slider {
    transform: translateX(60px);
}

#view-switch .toggle-label {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(71, 106, 184, 1);
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .map-layout {
        flex-direction: column; /* Stack vertically on smaller screens */
    }

    .image-column {
        margin-bottom: 20px;
    }

    .floor-layouts img {
        width: 90%; /* Scale image */
    }

    /* Horizontal buttons for mobile */
    .button-group {
        flex-direction: row; /* Make buttons horizontal on mobile */
        justify-content: center;
        margin-bottom: 20px;
    }

    .floor-button {
        font-size: 1rem; /* Adjust font size for better readability */
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    #view-switch {
        width: 100px;
        height: 40px;
    }

    #view-switch .toggle-slider {
        width: 30px;
        height: 30px;
    }

    #view-switch .toggle-label {
        font-size: 0.9rem;
    }
}

/* Further adjustments for very small screens (below 768px) */
@media (max-width: 768px) {
    .floor-button {
        font-size: 0.8rem;
        width: 40px;
        height: 40px;
    }
}