#schedule {
	user-select: none;
}

.text-gradient {
    animation: fadeInAnimation ease-in-out 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
		transform: translateY(-40%);
        opacity: 0;
    }
    100% {
		transform: translateY(0%);
        opacity: 1;
    }
}