#navbar-main {
  z-index: 1000;
  user-select: none;
  border-radius: 2rem;
  background: rgba(71, 106, 184, 1);
  max-width: 57%;
  margin: 20px auto 0 auto;
}

#navbar-hidden-overlay {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
}

#brand {
  font-family: Harabara;
  position: relative;
  display: flex;
  align-items: center;
}

#basic-navbar-nav a {
  color: white;
  font-weight: 300;
  padding: 20px;
  align-items: center;
  border-radius: 2rem;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

#basic-navbar-nav a:hover {
  background-color: rgba(98, 147, 228, 1);
  text-decoration: none;
  border-radius: 2rem;
  padding: 15px;
}