.navbar-wrapper {
  display: flex;
  align-items: center; 
  width: 100%;
  position: relative;
  justify-content: center; /* Centers the logo in the wrapper */
}

.logo-outside-navbar {
  width: 170px;
  margin-left: 20px;
  position: absolute;
  left: 0;
  top: 40px;
  margin: auto 20px auto 20px;
}

@media (max-width: 1200px) {
  .logo-outside-navbar {
    top: 25px;
  }
}

/* Logo inside the collapsed menu for small screens */
.logo-inside-navbar {
  width: 170px;
  margin: 10px auto; /* Centers the logo inside the collapsed navbar */
  display: none; /* Hide by default */
}

/* Show logo inside only when collapsed on small screens */
@media (max-width: 1920px) {
  .logo-outside-navbar {
    display: none; /* Hide logo outside the navbar on small screens */
  }
}

#navbar-main {
  z-index: 1000;
  user-select: none;
  border-radius: 2rem;
  background: rgba(71, 106, 184, 1);
  width: 100%; 
  max-width: 78%; 
  margin: 20px auto 20px auto;
}

#navbar-hidden-overlay {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
}

#basic-navbar-nav .nav-link {
  color: white;
  font-weight: 300;
  padding: 20px;
  margin: 5px;
  align-items: center;
  border-radius: 2rem;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

#basic-navbar-nav .nav-link:hover {
  background-color: rgba(98, 147, 228, 1);
  text-decoration: none;
  border-radius: 2rem;
  padding: 16px;
}

.logo-link {
  display: inline-block;
  text-decoration: none;
}
